@charset "ISO-8859-1";
* {
	margin: 0px;
	padding: 0px;
}

table, th, td {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	margin-left: 450px;
}

.header {
	padding-top: 24px;
	background: #111;
	color: white;
	padding-bottom: 24px;
}

.header a h3:hover {
	background-color: red;
	height: 50px;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}



.sidenav a {
	padding: 16px 16px 16px 18px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

body {
	background-image: url(../images/background2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.button {
	margin-left: 1250px;
	width: 100px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #111;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}

h2 {
	text-align: center;
}